.navigationButtonLeft,
.navigationButtonRight {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(76, 14, 151);
    border: 11px solid rgb(76, 14, 151);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
    margin-bottom: 30%;
}

.navigationButtonLeft:hover,
.navigationButtonRight:hover {
    background-color: rgb(113, 33, 211);
    border: 2px solid rgb(0, 0, 0);
}

.navigationText {
    font-size: 25px;
}

@media (max-width: 769px) {

    .navigationButtonLeft,
    .navigationButtonRight {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: rgb(76, 14, 151);
        border: 11px solid rgb(76, 14, 151);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transition: all 0.5s ease;
        margin-top: 50%;

    }
}